*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-robo: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-darker: #012c1f;
  --color-semi--darker: rgb(8, 81, 45);
  --color-brighter: rgb(33, 127, 64);
  --color-hero: rgb(1, 44, 31);
  /* --color-text: #217f40; */

  --color-darker-o: #012c1f;
  --color-darker-btn: #012c1f8c;
  --color-semi--darker-o: rgba(28, 197, 112, 0.5);
  --color-brighter-o: rgba(36, 250, 107, 0.288);
  --color-hero-o: rgba(1, 44, 31, 0.623);

  --color-champs-p: rgb(216, 216, 216);
}

body {
  font-family: var(--font-robo), sans-serif;
  font-size: 62.5%;
  background: url("./assets/pattern-bg.png"), var(--color-darker);
  /* max-width: 2500px; */
  min-width: 200px;
  color: #fff;
  /* overflow: hidden; */
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-size: clamp(1rem, 5vw, 3rem);
  font-family: var(--font-oswald);
  text-transform: uppercase;
}
h2 {
  font-family: var(--font-oswald);
  text-transform: capitalize;
  font-size: clamp(0.8rem, 2.4vw, 1.8rem);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
h3 {
  font-family: var(--font-oswald);
  text-transform: uppercase;
  font-size: clamp(0.8rem, 2.8vw, 2.3rem);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.champs-p {
  color: var(--color-champs-p);
  font-size: clamp(0.65rem, 1.9rem, 1.3vw);
  margin-bottom: 0.5rem;
}
/* p {
  font-size: clamp(0.5rem, 2vw, 1rem);
} */
